# Copy this file to .env and fill values.
DASHSCOPE_API_KEY=sk-...

# Qwen TTS settings
API_ENDPOINT=https://dashscope-intl.aliyuncs.com/api/v1/services/aigc/multimodal-generation/generation
MODEL=qwen3-tts-vc-2026-01-22
VOICE=qwen-tts-vc-roberto_pt-voice-20260429004312101-aab6
LANGUAGE=Portuguese

# Optional server port
PORT=5000
